* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px 0;
  background-color: #3944f7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-class {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #de4839;
  border: none;
  letter-spacing: 2px;
}

.btn-class:active {
  transform: translateY(4px);
}
